@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bem Vindo</h1>
    <p>Esta é uma aplicação Web ASP.NET Core (MVC) com objetivo de avaliar as habilidades no desenvolvimento de sistemas.</p>
    <p>Para esta aplicação foi utilizado o Microsoft Visual Studio Community 2022, .Net Core 7, Entity Framework Core, Bootstrap v5.1.0.</p>
    <p>Em sua arquitetura foi utilizados princípios do Clean Code e do SOLID, como: </p>
    <p> - Mult-thread. processamento em Threads separadas com Async/Await;</p>
    <p> - Inversão de Controle. O controlador depende das classes de serviços;</p>
    <p> - Inversão de Dependências. Devemos depender de abstrações (Interfaces) e não de implementações;</p>
    <p> - Manter o código o mais limpo possível;</p>
    <br />
    <h3>Considerações</h3>
    <p>Não foi utilizados Ajax nas telas de Cadastro e Edição, não vi a necessidade pela forma com que foi contruído o sistema.</p>
    <p>Na lista de Usuário foi implementado a paginação pelo banco de dados e suas consultas são realizadas com o Ajax como solicitado.</p>
    <br />
    <p>Teste realizado por João Carlos na data de 09/03/2025</p>
</div>
